<h1>Pets index page</h1>

<% @pets.each do |pet| %>
  <br><%= image_tag(pet.image) %></br>
  <br><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></br>
  <br><%= pet.approximate_age %></br>
  <br><%= pet.sex %></br>
  <br><%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></br>
<%= link_to "Update #{pet.name}", "/pets/#{pet.id}/edit" %>
<%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
<% end %>
