<h1>Pets index page</h1>

<% @pets.each do |pet| %>
  <h3><br><%= image_tag(pet.image) %></br></h3>
  <h2><br><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></br></h2>
  <h3>Age: <%= pet.approximate_age %></h3>
  <h3>Sex: <%= pet.sex %></h3>
  <h4><br><%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></br></h4>
<h4><%= link_to "Update #{pet.name}", "/pets/#{pet.id}/edit" %></h4>
<h4><%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %></h4>
<% end %>
