<h1>Pets index page</h1>

<% @pets.each do |pet| %>
  <br><%= image_tag(pet.image) %></br>
  <br><%= pet.name %></br>
  <br><%= pet.approximate_age %></br>
  <br><%= pet.sex %></br>
  <br><%= pet.shelter.name %></br>
<% end %>
